# Miscellaneous
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
.idea
*.iml
*.ipr
*.iws

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
pubspec.lock
pubspec_overrides.yaml

# Logging
*.log
logs/

# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.swp
